<!doctype html>
<title>Viittaus Lomake</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section class="content">
  <p>Viittaus BiBTeX generoija</p>

  <form action="/referenceForm/setFilter/", method="POST">
    <label for="references">Choose reference type</label>
    <select name="references" id="refereces">
      {% for key,value in refType.items() %}
      <option value={{key}} name="option">{{key}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Submit" id="submitButton">
  </form>

  <form action = "/submitReferenceInformation/" method="POST">
    <input type = "hidden" value = {{filter}} name = "reference_type">
    {% for key,value in refType.items() %}
      {% if key == filter %}

        {% for x in value %}
          <br/>
          {% if value is number %}
            <b>{{x}}</b> <input id={{x}} type="number" name={{x}}>
            {% else %}
            <b>{{x}}</b>  <input id={{x}} type="text" name={{x}}> 
          
          {% endif %}
        {% endfor %}
      {% endif %}
        
    {% endfor %}
      <br/>
    <input type="submit" value="create new" id="createNew">
  </form>

  
  <a href="/" id="frontPageLink">Takaisin etusivulle</a>

</section>