<title>BibTeX-viittaus generaattori</title>
<h1>Lisää viittaus ja muuta se BibTeX-muotoon!</h1>

<a href="/referenceForm" id="refFormLink">Lisää lähdeviittaus</a>
<a href="/printBibtex" id="printBibtexLink">Näytä viittaukset BibTeX-muodossa</a>
<a href="/referenceTypesAdd" id="addNewReferenceType">Lisää uusi viittaustyyppi</a> 

<h3>Viittaukset:</h3>
<table>
	<thead>
		<tr>
			<th>Viittautunniste</th>
			<th>Tekijä</th>
			<th>Nimi</th>
			<th>Julkaisuvuosi</th>
		</tr>
	</thead>
	<tbody>
		{% for key,value in content.items() %}
		<tr>
			<th>{{key}}</th>
			<th>{{content[key]["author"]}}</th>
			<th>{{content[key]["title"]}}</th>
			<th>{{content[key]["year"]}}</th>
		</tr>
		{% endfor %}
	</tbody>
</table> 
