<title>Viittaustyypin lisays</title>
<h1>Lisää uusi viittaustyyppi</h1>
<form>
    <fieldset>
        <legend>Valitse lisättävät kentät</legend>
        <div>
            <input type = "checkbox" id = "address" name="field" value = "address"/>
            <label for = "address">Address</label>
        </div>    
        <div>
            <input type = "checkbox" id = "annote" name="field" value= "annote"/>
            <label for = "annote">Annote</label>
        </div>    
        <div>
            <input type = "checkbox" id = "author" name="field" value="author"/>
            <label for = "author">Author</label>
        </div>    
        <div>
            <button type = "submit">Lisää</button>
        </div>
    </fieldset>
</form>

<a href="/" id="frontPageLink">Takaisin etusivulle</a>
