<title>Viittaustyypin lisays</title>
<h1>Lisää uusi viittaustyyppi</h1>
<form method="POST" action="/referenceTypesAdd/add">

    <fieldset name="hi">
        <legend>Valitse lisättävät kentät</legend>
        <label>Viittaustyyppi</label>
        <b>{{x}}</b> <input id="tyyppi" type="text" name="viittaustyyppi"\> 

        {% for field in refType %}

        <div>
           
            <input type = "checkbox" id = {{field}} name="field" value = {{field}}>
            <label for = {{field}}>{{field}}</label>
        </div>    

        {% endfor %} 
        <div>
            <input type="submit" value="Lisää" id="submitButton">
        </div>
    </fieldset>
</form>

<a href="/" id="frontPageLink">Takaisin etusivulle</a>
