<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section class="content">
  <p>Viittaus BiBTeX generoija</p>


  <form action = "/submitReferenceInformation/" method="POST">
   viittaustyyppi <input id="referenceType" type="text" name="referenceType">
   kirjan nimi <input id="title" type="text" name="title">
   Kirjailijan nimi <input id="author" type="text" name="author">
   julkaisuvuosi <input id="published" type="number" name="published">
    <input id="submit" type="submit" value="add book">

  </form>


  <form action = "/print" method="POST">
    <button type="print" formaction="/print">Näytä viittaukset</button>
  </form>

</section>